body {
  color: brown;
}
nav {
  height: 90px;
  background-color: rgba(227, 217, 161, 0.5);
  padding: 10px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
button {
  height: 30px;
  width: 105px;
  box-sizing: border-box;
  background-color: rgba(244, 208, 5, 0.6);
  border: none;
  border-radius: 125px;
  color: brown;
  font-weight: bolder;
}
.grande {
  width: 110px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  object-fit: contain;
  font-size: large;
}
.grande img {
  width: 30%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1 {
  margin-bottom: 5px;
  font-size: 45px;
}

.card {
  background-color: rgba(227, 217, 161, 0.5);
  border-radius: 30px;
  object-fit: contain;
  width: 48%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 20px;
}
.card img {
  width: 100%;
}
.sottocard {
  display: flex;
  margin: 10px;
  align-items: center;
}
.sottocard div {
  margin-right: 40px;
}
.sottocard p {
  margin: 0;
}
.grassetto {
  font-weight: bolder;
  font-size: 1.2rem;
}
.container2 {
  background-color: rgba(227, 217, 161, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
}
.container2 div {
  width: 95%;
  height: 400px;
  background-image: url("../imgs/honey.jpg");
  margin-block: 15px;
  background-size: cover;
}
.container2 p {
  margin: 15px;
}
.container2 h2 {
  font-weight: bolder;
}
